.projects_container {
  padding: 40px 0;

  @media screen and (max-width: 799px) {
    padding: 0 0 50px;
  }
}

.projects {
  background-color: #262626;
  color: #fff;
}

.hidden {
  opacity: 0;
  transform: translateY(5rem);
}
