.about {
  color: #fff;
  background-color: #262626;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
  padding: 120px 0;
}

.about_container {
  padding: 0 0 80px;
  margin: 0 90px;

  @media screen and (max-width: 799px) {
    margin: 12px;
  }

  h1 {
    padding: 0 0 10px;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;

    @media screen and (max-width: 799px) {
      font-size: 36px;
    }
  }

  .Memoji {
    width: 50px;
    height: 50px;
  }

  h3 {
    padding: 40px 0 6px 0;
  }

  p {
    font-size: 19px;
  }

  span {
    color: #ffd523;
    font-weight: 400;

    &:hover {
      color: red;
    }
  }

  .envelop-btn {
    background-color: inherit;
    color: #ffd523;
    border: none;
    width: 140px;
    height: 32px;
    font-size: 16px;
    margin-top: 50px;
    text-align: left;
    font-weight: 400;
    cursor: pointer;

    @media screen and (max-width: 799px) {
      padding-left: 0;
    }

    .folder,
    .folder_open {
      font-size: 20px;
      vertical-align: text-bottom;
      color: gray;

      @media screen and (max-width: 799px) {
        font-size: 16px;
      }
    }

    .folder_open {
      color: red;
      font-size: 20px;

      @media screen and (max-width: 799px) {
        font-size: 16px;
      }
    }

    @media screen and (max-width: 799px) {
      font-size: 13px;
    }
  }
}
