.contact {
  padding: 30px 0;
}

.contact_container {
  text-align: center;

  h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 50px;
    padding: 50px 0 0;

    @media screen and (max-width: 799px) {
      font-size: 36px;
      padding: 50px 0 0;
    }
  }

  @media screen and (max-width: 799px) {
    padding: 0 0 50px;
  }
}
