.header {
  width: 100%;
  height: 50px;
  cursor: pointer;
  color: #262626;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26px 14px;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  letter-spacing: 3px;
}

.nav-sm-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align: center;
}

.nav-item {
  -webkit-text-stroke: 0.5px lightgray;
  font-weight: 900;
  font-size: 23px;

  &:hover {
    -webkit-text-stroke: 0;

    color: #ffd523;
    text-shadow: none;
  }

  @media screen and (max-width: 799px) {
    margin: 4px;
    font-size: 20px;
  }
}

.nav-left {
  top: 26px;
  left: 26px;

  @media screen and (max-width: 799px) {
    left: 12px;
  }
}

.nav-right {
  right: 26px;

  @media screen and (max-width: 799px) {
    right: 12px;
  }
}

.nav-sm {
  font-size: 13px;
  color: lightgray;
  font-weight: 500;

  &:hover {
    color: #ffd523;
  }
}
