.project_container {
  display: flex;
  justify-content: left;
  margin: 20px 90px 130px 90px;

  @media screen and (max-width: 799px) {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
  }
}

.project_name {
  margin-left: 100px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;

  @media screen and (max-width: 799px) {
    text-align: center;
    margin: 60px 0 20px 0;
  }
}

.project_image_container {
  img {
    width: 460px;

    @media screen and (max-width: 799px) {
      width: 100vw;
      padding: 10px;
    }
  }
}

.project_content_container {
  width: 50%;
  margin-left: 40px;

  .project_technologies {
    color: #ffe268;
    font-weight: 400;
  }

  .project_subname {
    font-style: italic;
    margin-top: 10px;
  }

  p {
    font-size: 16.5px;
    line-height: 22px;
  }

  Button {
    margin: 0 3px;
  }

  @media screen and (max-width: 799px) {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 12px;
  }
}
