.devlog {
  background-color: #faa5a5;
  padding: 120px 0;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
}

.devlog-container {
  padding: 0 0 80px;
  margin: 0 90px;
}

.dev-btn {
  background-color: inherit;
  color: lighsalmon;
  border: 1px solid lightsalmon;
  width: 86px;
  height: 30px;
  font-size: 15px;

  &:hover {
    background-color: lightsalmon;
    color: #262626;
  }
}

.devlog-box {
  border-left: 3px solid #f5e3e3;
  margin-bottom: 40px;
  line-height: 17px;
}

.devlog-textbox {
  padding: 20px;
}

.month {
  font-size: 14.5px;
}

.devlog-box-subtitle::after {
  content: ' ';
  border: 1px solid #f5e3e3;
  margin: 20px 0;
  display: block;
  max-width: 50px;
}

.related-link {
  cursor: pointer;
  font-size: 16px;

  a {
    color: #7446df;
  }
  :hover {
    color: #da6464;
    transition: 0.2s ease-in-out;
  }
}
