.lab {
  background-color: #283c3d;
  padding: 200px 0 250px;
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
}

.lab-container {
  padding: 120px 0;
  margin: 0 90px;
  text-align: center;
}

.dev-btn {
  background-color: inherit;
  color: lightsalmon;
  border: 1px solid lightsalmon;
  width: 86px;
  height: 30px;
  font-size: 15px;

  &:hover {
    background-color: lightsalmon;
    color: #262626;
  }
}
